body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.ncolor{
    color: coral;
}
.container1{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    margin: 5px;
    padding: 10px;
}
.half-width img{
    width: 75%;
}
.link-id{
    text-decoration: none;
 background-image: linear-gradient(#F2932F, rgb(192, 125, 24));
    font-weight:700;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.container2{
    display: flex;
    margin-top: 25px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}